{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<div class="form-container">
<h2>Agregar Libro</h2>

{% if messages %}
  <ul>
    {% for message in messages %}
      <li style="color: {% if 'error' in message.tags %}red{% else %}green{% endif %};">
        {{ message }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

<form method="POST">
  {% csrf_token %}
  <label for="Autor">Autor:</label><br>
  <input type="text" name="Autor" id="Autor"><br><br>

  <label for="titulo">Título:</label><br>
  <input type="text" name="titulo" id="titulo"><br><br>

  <label for="editorial">Editorial:</label><br>
  <input type="text" name="editorial" id="editorial"><br><br>

  <label for="fecha_publicacion">Fecha de publicación:</label><br>
  <input type="date" name="fecha_publicacion" id="fecha_publicacion"><br><br>

  <label for="estado">Estado:</label><br>
  <input type="text" name="estado" id="estado"><br><br>

  <button type="submit">Guardar</button>
  <a href="{% url 'lista_libros' %}">Cancelar</a>
</form>
